h2{
    border: solid 0px red;
    width: 410px;
    height: 50px;
    text-align: center;
    line-height: 50px;

    margin: 50px auto;
    text-shadow: 5px -5px 3px rgb(0, 204, 255);  /*가로 세로 거리, 번짐정도, 색상*/
    letter-spacing: 0.5em;    /*글자간격조절*/
}

#form_style{
    border: solid 0px blue;
    width: 410px;
    height: 155px;

    margin: 2px auto;
}

#form_style > .title{
    border: solid 0px green;
    width: 410px;
    height: 30px;
    text-align: center;
    margin: 2px 0px;
}

#form_style > .content{
    border: solid 0px pink;
    width: 400px;
    height: 86px;
    margin: 2px 0px;
}