#con{
    width: 90%; 
    margin: 0px auto;
    border: 0px solid red;
}

header{
    width: 95%;
    margin: 5px auto;
    border: 1px solid black;
}

header #gnb > ul,  
header #lnb > ul{
    border: 0px solid blue;
    overflow: hidden;
}

header li{
    list-style-type: none;
    border: 2px dotted black;
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

header a{
    text-decoration: none;
}

header #gnb li{
    float:left;
    border-left-width: 0px ;
    font-family: 'Rubik Bubbles', cursive;
}  

header #lnb li{
    float:right;
    border-right-width: 0px;
    font-family: 'Sevillana', cursive;
} 

header #lnb li:nth-child(1){
    border-right-width: 2px;
    margin-right: 28px;
}

#content{
    width: 95%;
    margin: 5px auto;
    border: 1px solid black;
    overflow: hidden;
}

#content > #section, 
#content > #aside{
    height: 1000px;
    border: 1px solid black;
    margin: 5px auto;
    font-weight: bold;
    font-size: 1.2em;
    float:left;
}

#content > #section{
    width: 70%;
    font-family: 'Rubik Bubbles', cursive;
    margin-right: 2px;
}

#content > #aside{
    width: 28%;
    font-family: 'Sevillana', cursive;
}

footer{
    width: 95%;
    height: 100px;
    border: 1px solid black;
    margin: 5px auto;
    text-align: center;
    line-height: 100px;
}












